body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #424242 url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-background{
  background: #a0a0a0 url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png) !important;
  
}

.modal-background-border{
  background: #e91c1c !important;
  
}
.modal-background-middle{
  background: #538cf5 !important;
  
}

.card-image-background{
  background: url(https://cdn.discordapp.com/attachments/1052126650646675456/1052199044086247424/529d2b151c33ba79a4008b6da88fdf85.jpg) !important;
  background-size: cover !important;
}

.card-image-game{
  width: 300px;
}

.header-fixed{
  position: fixed;
}

.segment-margin-top{
  margin-top: auto !important;
}

.absolute{
  position: absolute !important;
  top: 20%;
  right: 40%;
}